<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ cond .IsHome "" (print .Title " | ") }}{{ site.Title }}</title>
    <style>
        html {
            font-family: ui-monospace, 'Cascadia Code', 'Source Code Pro', Menlo, Consolas, 'DejaVu Sans Mono', monospace;
        }
    </style>
</head>
<body>
    <main id="main" tabindex="-1">
    {{ block "main" . }}

    {{ end }}
    </main>
    <footer>
        {{ with site.Params.footerText -}}
        <p>
            {{ markdownify . }}
        </p>
        {{- end }}
        <p>
            <small>
            ©{{ now.Year }} {{ site.Title }}. {{ site.Copyright }}
            </small>
        </p>
    </footer>
</body>
</html>