{{ define "main" }}
<div>
    <div>
        <h1>{{ markdownify .LinkTitle }}</h1>
        {{ if or .Description .Params.fancyDescription -}}
        <p>{{ markdownify (or .Params.fancyDescription .Description) }}</p>
        {{- end }}
    </div>
    <div>
        {{- $pages := cond (eq .Kind "taxonomy") .Pages .RegularPagesRecursive -}}
        <h2>{{ cond (eq .Kind "taxonomy") .Title "Pages" }} ({{ len (cond (eq .Section "archives") site.RegularPages $pages)}})</h2>
        {{ if eq .Section "archives" -}}
            {{ partial "archives-page.html" . }}
        {{- else }}
        <ul>
            {{ range $pages -}}
                {{ .Render "li" }}
            {{- end }}
        </ul>
        {{- end }}
    </div>
</div>
{{ end }}